#rectangulo
{
    position: absolute;
    background-color: wheat;
    width: 400px;
    height: 245px;
    top: calc(50% - 210px);
    left: calc(50% - 195px);
}
#button
{   
    top: 50%;
    left: 50%;
    text-align: center;


}
#parrafo1
{
    text-align: center;
}

#parrafo2
{
    text-align: center;
    font-size: 50px;
}
#body
{
    background-color: wheat;
}
#h1
{
    text-align: center;
}

#margen{
    margin-top: 15px;
}

#margencentro{
    margin-top: 30px;
}

#margencentro2{
    margin-top: 50px;
}

#margencentro3{
    margin-top: 80px;
}
#rectangulo1
{
    position: absolute;
    background-color: wheat;
    width: 400px;
    height: 50px;
    top: calc(50% - 300px);
    left: calc(60% - 20px);
}